<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/lib/twitter-bootstrap/css/bootstrap.css" />
</head>
<body class="m-2 p-2 bg-dark" >
    <h1 class="bg-primary">FAST Equipment Tool</h1>
    <p class="bg-primary">IT Equipment means all information technology equipment and devices located at each Facility on the applicable Acquisition Date, and any replacements thereof or additions thereto, including any software included therein. IT Equipment shall include, without limitation, computer related equipment (such as desktop computers, portable computers (laptops), portable devices (tablets and other hand held devices), monitors and printers), network hardware (such as wireless AP, routers, switches, controllers and UPS) and miscellaneous items (such as system carts, system kiosks, projectors and time clocks).</p>
    <a href="/">Home</a> | <a href="/Home/EquipmentListing">All Equipment Listing</a> | <a href="/Home/AvailableEquipment">Available Equipment</a> | <a href="/Home/RequestForm">Request Form</a>
    <div class="bg-primary">
        @RenderBody()
    </div>
</body>
</html>
