
@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Confirmation</h1>
<h2>Thank you very much for submitting your request!</h2>
<p>The request has been made and someone from IT will be in touch with you soon.</p>

