
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ///default home page
    ///

}

    <div class="form-group">
        <h5>Rent some Equipment Now!</h5>
    </div>


