@using Assignment1_BeginningMVC_MirzaRahman_NetCore2_2.Models
@using System.Diagnostics;
@model String

@{
    ViewData["Title"] = "RequestDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ///prints the details of aa specifc request, ADMIN ONLY access
}

    <div class="form-group">
        <h1>Request Details:</h1>
    </div>
    <div class="form-group">
        <h2>@Model</h2>
    </div>
    <div class="form-group">
        <form class="form-control">
            <button class="alert-success">Accept</button>
            <button class="alert-danger">Deny</button>
        </form>
    </div>
        
        

